In [1]:
import json

**Create a new json file**

In [2]:
fd = open("record.json", 'w')

In [3]:
fd.close()

**Create a new dictionary record and add a product into it**

In [4]:
record = {1000:{'Product_name': "Cadbury Dairy Milk", 'MRP': 50.0, 'Our_Price': 50*0.9, 'Quantity': 75, 'Tax_Percentage': 5 }}

In [5]:
js=json.dumps(record)
fd = open("record.json",'w')
fd.write(js)
fd.close()

**Read data from json file**

In [6]:
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

**Add new products**

In [10]:
id = input("Enter id:")
name = input("Enter product name:")
MRP = float(input("Enter MRP:"))
quant = int(input("Enter quantity:"))
taxpercentage = int(input("Enter tax percentage:"))
record[id] = {'Product_name': name, 'MRP': MRP, 'Our_Price': MRP*0.9, 'Quantity': quant, 'Tax_Percentage': taxpercentage }

js = json.dumps(record)

Enter id:1005
Enter product name:French Fries
Enter MRP:250
Enter quantity:20
Enter tax percentage:7

**Update the added products in record.json**

In [11]:
fd = open("record.json",'w')
fd.write(js)
fd.close()