In [1]:
import json

**Inventory is read from record.json**

In [2]:
fd = open("record.json", 'r')
r = fd.read()
fd.close()

In [3]:
record = json.loads(r)

**A new json file to store the list of the products purchased created**

In [4]:
fd = open("sales.json",'w')
fd.close()

In [5]:
sold=0
bn=1

A dictionary record2 created

In [6]:
record2={}

In [7]:
import pandas as pd

**Start running from this code for each new buyer**

The products are listed. If the quantity of the product required by the buyer is available in the record, the details of the amount of products sold is updated in sales.json and the same quantity of the product is reduced from record.json.

In [19]:
total = 0

In [20]:
fd1 = open("sales.json",'a')
fd1.write("Bill of Buyer"+str(bn)+":\n\n")
fd1.close()

**Purchase Products:**

In [24]:
print("The products are:" )
df = pd.DataFrame.from_dict(record, orient = 'index')
print(df)

product = input("\nEnter the product you want to purchase: ")
quantity = int(input("Enter the quantity of the product you want to purchase: "))
for key in record.keys():
  if(record[key]['Product_name']==product):
    id = key
if(record[id]['Quantity']<quantity):
  print("Sorry this product has been sold out :(")
else:
  record[id]['Quantity'] -= quantity 
  price = record[id]['Our_Price']*quantity
  tax= (record[id]['Tax_Percentage']/100)*price
  net_amount = tax + price
  total+=net_amount
  record2 = {'Product': product, 'Quantity':quantity, 'MRP': record[id]['MRP']*quantity, 'Our Price': price, 'Taxes and Charges': tax, 'Net amount': net_amount   }
  
  js = json.dumps(record2)
  js1 = json.dumps(record)
  fd = open("record.json",'w')
  fd.write(js1)
  fd.close()
  fd1 = open("sales.json",'a')
  fd1.write(js+"\n")
  fd1.close()

The products are:
            Product_name    MRP  Our_Price  Quantity  Tax_Percentage
1000  Cadbury Dairy Milk   50.0       45.0        75               5
1001               Towel  200.0      180.0        25               4
1002         Tooth paste   40.0       36.0        50               5
1003           Hand Wash   55.0       49.5        40               4
1004               Bread   25.0       22.5        27               3
1005        French Fries  250.0      225.0        20               7
1006               Lassi   65.0       58.5        36               7
1007             Vinegar   50.0       45.0        38               4
1008          Pencil Box   90.0       81.0        34               4
1009        Water Bottle   60.0       54.0        20               5
1010             Almonds  105.0       94.5        43               6
1011               Dates  230.0      207.0        41               5
1012             Perfume  150.0      135.0        39               8
1013               Kajal  200.0      180.0        42               8
1014             Shampoo  200.0      180.0        35               9
1015                Soap   30.0       27.0        38               5
1016         Tooth Brush   40.0       36.0        54               7
1017                Lays   30.0       27.0        46               4
1018              Eraser    5.0        4.5        55               3
1019                 Pen   10.0        9.0       100               3
1020              Pencil    6.0        5.4       110               3
1021       Pencil Cutter    5.0        4.5        49               3
1022                Mask    5.0        4.5        90               2
1023            Horlicks  157.0      141.3        46               6
1024         Mustard Oil  102.0       91.8        41               5
1025        Soyabean Oil  170.0      153.0        38               6
1026        Tomato Sauce  123.0      110.7        58               6
1027          Soya Sauce   45.0       40.5        57               8
1028            Soyabean   40.0       36.0        50               8
1029        Cocoa Powder  168.0      151.2        31               6

Enter the product you want to purchase: Bread
Enter the quantity of the product you want to purchase: 5

Add the total amount

In [25]:
fd = open("sales.json", 'a')
fd.write("Total Amount: "+str(total)+"\n\n")
fd.close()

In [26]:
sold+=total
bn+=1

**Run this sell to get total price of products sold**

In [27]:
fd = open("sales.json", 'a')
fd.write("Total products sold of Rs.: "+str(sold))
fd.close()